<!-- <p>menu-dialog-component works!</p>
<h2 mat-dialog-title>Our Menu 🍽️</h2>

<div mat-dialog-content>

  <div class="menu-grid">

    <mat-card>
      <mat-card-title>Breakfast</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Poha</li>
          <li>Paratha</li>
          <li>Tea</li>
        </ul>
        <p>₹50</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Lunch</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Thali (Dal, Chawal, Roti, Sabzi)</li>
          <li>Paratha</li>
          <li>Poori Kachori</li>
        </ul>
        <p>₹80</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Dinner</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Roti + Sabzi</li>
          <li>Dal + Rice</li>
        </ul>
        <p>₹90</p>
      </mat-card-content>
    </mat-card>

  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div> -->