<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-card">

    <h2>🍽️ Get Your Food Suggestions</h2>
    <p class="subtitle">Personalized meals based on your taste & budget</p>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter your email" />
      <small *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        Please enter a valid email
      </small>
    </div>

    <!-- Budget -->
    <div class="form-group">
      <label>Budget (₹)</label>
      <input type="number" formControlName="budget" placeholder="Enter your budget" />
      <small *ngIf="userForm.get('budget')?.touched && userForm.get('budget')?.invalid">
        Budget is required
      </small>
    </div>

    <!-- Preference -->
    <div class="form-group">
      <label>Food Preference</label>
      <select formControlName="preference">
        <option value="">Select preference</option>
        <option value="spicy">🌶️. Spicy</option>
        <option value="sweet">🍰 Sweet</option>
        <option value="healthy">🥗 Healthy</option>
      </select>
      <small *ngIf="userForm.get('preference')?.touched && userForm.get('preference')?.invalid">
        Please select preference
      </small>
    </div>

    <button type="submit" [disabled]="userForm.invalid">
      Get Suggestions 🚀
    </button>

  </form>
</div>
